<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanshi.my36kr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--splash界面-->
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主界面-->
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!--新闻详情页-->
        <activity
            android:name=".ui.FeedDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <!-- 父activity的meta-data，用来支持4.0以下版本 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <!--图片终端页-->
        <activity
            android:name=".ui.ImageTerminalActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.FeedDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.FeedDetailActivity" />
        </activity>
        <!--个人资料页-->
        <activity
            android:name=".ui.PersonalActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/personal_info"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <!-- 父activity的meta-data，用来支持4.0以下版本 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <!--登录页-->
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
